<! DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Eating Out</title>
	<link href="./css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
	</head>
	<body>
		<h1> Your Restaurant Bill</h1>
		
   <!-- Form-->
   <form action="#" id="meal_tip" onsubmit="return false" method="get" oninput="total.value = cost.valueAsNumber + (tip.valueAsNumber * .1)">
   		<fieldset>
      	  <p>Cost of Meal (required) <input type="number" value=0 step="1.0" name="cost" id="cost" required></p>
      	  <p>Tip <input type="number" step="1.0" value=0 name="tip" id="tip" requried></p>
      	  <p>Total: <output type="number" step="0.01" name="total" for="cost tip" id="total"></p> <button id = "save">Save</button>
      	 </fieldset>
      	 <fieldset>
      	  <p>Weekly Total <input type="date" step="0.01" name="meal" id="week"></p><button id = "weekly_total">Total</button>
      	  <p>Monthly Total <input type="date" step="0.01" name="meal" id="month"></p>
      	  <p>Yearly Total <input type="date" step="0.01" name="meal" id="year"></p>
      	</fieldset>
    </form>
	</body>

	<!--Scripts -->
	<script src="./js/scripts.js"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
	<<script href="./js/script.js"></script>
	<script>
	$("#meal_tip").validate({
		rules: {
			field: {
				required: true,
				number: true
			}
		}
	});
	</script>
	</html>


<!---TODO
	1. Be sure the form handles decimals (done)
	2. Have the boxes line up
	3. Add up Meal and tip
	3. Divide Meal and tip by number of friends
	4. Prohibit users from altering week, month, total, and year boxes

<form onsubmit="return false" oninput="o.value = a.valueAsNumber + b.valueAsNumber">
  <input name="a" id="a" type="number" step="any"> +
  <input name="b" id="b" type="number" step="any"> =
  <output name="o" for="a b"></output>
  /(\d+)/g 
</form>

http://api.jquery.com/submit/
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions
